section.difficulties h2 {
    font-size: 1.5rem;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

    text-align: center;
    margin: 0 auto;
}

section.difficulties ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

section.difficulties ul li {
    list-style: none;
}

section.difficulties ul li button {
    font-size: 1.2rem;
    color: #fff;
    text-decoration: none;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.2rem;

    border: none;
    outline: none;

    background-color: #555;
    border-radius: 5px;

    min-width: 96px;
    max-width: 96px;
    height: 50px;

    cursor: pointer;
    transition: background-color 0.3s ease;
}

section.difficulties ul li button:hover {
    background-color: #333;
}

section.difficulties button.link {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section.difficulties button:hover {
    background-color: #2980b9;
}

section.categories {
    display: none;
    width: 40%;
}

section.categories h2 {
    font-size: 1.5rem;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto 20px;
}

section.categories ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;
}

section.categories ul li {
    list-style: none;
}

section.categories ul li.category-item {
    background-color: #f5f5f5;
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
}

section.categories ul li.category-item:hover {
    background-color: #ddd;
    transform: translateY(-3px);
}

section.words-found {
    display: none;
}

section.words-found h2 {
    font-size: 1.5rem;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin: 0 auto 20px;
}

section.words-found ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;

    max-height: 60vh;
    overflow: scroll;
    overflow-x: hidden;
}

section.words-found ul li {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

section.words-found ul li h3 {
    font-size: 1.5rem;
    color: #3498db;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 8px;
}

section.words-found ul li hr {
    height: 3px;
    width: 50%;
    margin-bottom: 10px;

    border: none;
    border-radius: 3px;
    background-color: #fff;
}

section.words-found ul li .words {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 0;

    max-height: 17vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

section.words-found ul li .words .word {
    color: #333;
    font-size: .9rem;
    
    background-color: #3498db;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    
    border-radius: 5px;
    padding: 10px 20px;
    margin-top: 0;
    margin-bottom: 0;
    
    cursor: default;
    opacity: .2;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

section.words-found ul li .words .word.found {
    background-color: #3498db;
    color: #ffffff;
    opacity: 1;
    cursor: pointer;
}

section.words-found ul li .words .word.found:hover {
    background-color: #2980b9;
}

section .back_button {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

section .back_button:hover {
    background-color: #333;
}

@media (max-width: 1280px) {
    section.words-found ul li {
        width: 75vw;
    }
}

@media (max-width: 768px) {
    section.difficulties h2 {
        font-size: 1.2rem;
    }

    section.difficulties ul {
        flex-direction: column;
        gap: 5px;
    }

    section.difficulties ul li {
        width: 100%;
    }

    section.difficulties ul li button {
        height: 40px;
        max-width: 100%;
        min-width: 100%;
    }

    section.categories {
        width: 80%;
    }

    section.categories h2 {
        font-size: 1.2rem;
    }

    section.categories ul li.category-item {
        font-size: 1rem;
        padding: 10px 15px;
    }

    section.categories button {
        padding: 8px 16px;
    }

    section.words-found ul li {
        width: 90vw;
    }

    section.words-found ul li hr {
        width: 80vw;
    }

    section.words-found ul li h2 {
        font-size: 1.2rem;
    }

    section.words-found ul li .words .word {
        font-size: .8rem;
    }
    
}